* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

table {
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

td, th {
    border: 0.5px solid rgb(179, 179, 179);
    padding: 10px 30px;
    background-color: rgb(62, 62, 62);
    font-size: 90%;
}

th {
    background-color: rgb(151, 205, 255);
    color: black;
}

.MP, .MP-LAB {
    background-color: rgb(86, 165, 255);
    color: black;
}

.ADA, .ADA-LAB {
    background-color: rgb(204, 150, 255);
    color: black;
}

.DBMS, .DBMS-LAB{
    background-color: rgb(255, 232, 117);
    color: black;
}
.FAFL {
    background-color: aqua;
    color: black;
}
.BIO {
    background-color: rgb(125, 255, 125);
    color: black;
}
.WAD-LAB {
    background-color: rgb(243, 201, 140);
    color: black;
}